{% extends 'base.html' %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}
    New user signup
{% endblock %}

{% block content %}
    <div class="col-md-6 well">
        <fieldset>
            <legend>Create an account</legend>

            <div class="panel-body">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p><input value="Go!" type="submit"/></p>
                </form>
            </div>
        </fieldset>
    </div>
{% endblock %}