{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Please Login!
{% endblock %}

{% block content %}
    <div class="well col-sm-6">
        {% if form.errors %}
            <p class="text-warning">Your username and password didn't match. Try again</p>
        {% endif %}

        <form class="form-horizontal" method="post" role="form" action="{% url 'boardgames_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" value="Login" type="submit"/>
            <input name="next" value="{{ next }}" type="hidden"/>
        </form>
    </div>

{% endblock %}
