{% extends 'tictactoe/game_detail.html' %}

{% load staticfiles %}

{% block styling %}
    {{ block.super }}
    
    <style type="text/css">
        .tictactoe-cell.empty:hover{
            background-color: #48CA3B;
            cursor: pointer;
        }
    </style>

{% endblock %}

{% block moveform %}
    {{ block.super }}
    
    <form method="post" action="">
        {% csrf_token %}
        {{ form.x.as_hidden }}
        {{ form.y.as_hidden }}

        <button class="hidden" type="Submit">
            Submit!
        </button>
    </form>
{% endblock %}